#Main {
    position: absolute;
    height: calc(100vh - 60px);
    overflow-x: hidden;
}

#Main #Homepage {
    height: calc(100vh - 60px);
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: row;
}

/*#region Left左*/
#Main #Left {
    width: 400px;
    height: 100%;
}

/*#endregion*/

/*#region Center中*/
#Main #Center {
    flex: 1;
    min-width: 700px;
    height: 100%;
    overflow-y: scroll;
}

#Main #Center::-webkit-scrollbar {
    display: none;
}

/*#endregion*/

/*#region Right右*/
#Main #Right {
    width: 300px;
    height: 100%;
}

/*#endregion*/

/*#region 头像后的背景*/
#Main .Wallpaper {
    position: absolute;
    width: 100%;
    height: 250px;
}

/*#endregion 头像后的背景*/

/*#region 个人简介Introduction*/
#Left .Introduction {
    width: 380px;
    height: 280px;
    margin: 10px;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.Introduction .Avatar {
    width: 100%;
    text-align: center;
}

.Introduction .Quote {
    width: 100%;
    height: 100px;
    text-align: center;
}

.Introduction .technologyIcon {
    width: 100%;
    text-align: center;
}

.Introduction .EditOutlined {
    display: none;
    width: 50px;
    height: 50px;
}

/*#endregion 个人简介Introduction*/

/*#region 生活区域LifeBox*/
#Left .LifeBox {
    margin: 10px;
    height: calc(100vh - 500px);
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px;
}

/*#endregion*/

/*#region 文章列表ArticalList*/
#Center .ArticalList {
    padding-left: 20px;
    padding-right: 20px;
}

.ArticalList .ArticalCard {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.ArticalList .ArticalBox {
    width: 100%;
    height: 170px;
}

.ArticalList .ArticalCover {
    width: 170px;
    height: 170px;
}

.ArticalList .ArticalSummary:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ArticalList .ArticalMark {
    overflow-y: scroll;
}

.ArticalList .ArticalMark::-webkit-scrollbar {
    display: none;
}

.ArticalList .ArticalIcons {
    width: 100%;
    height: 20px;
    margin-left: 10px;
}

/*#endregion*/

/*#region 文章显示ShowArtical*/
#Left .ShowArtical {
    padding-left: 20px;
    padding-right: 20px;
}

.ShowArtical .ArticalMarkDown {
    position: relative;
}

.ShowArtical .blog-pre {
    margin-bottom: 3em !important;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
    position: relative;
}

.ShowArtical .code-copy-btn {
    color: white;
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 101;
}

.ShowArtical .code-copy-btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

/*#endregion*/

/*#region 目录*/
#Right .Directory {
    width: 240px;
    height: 400px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}


.Directory .DirectoryItem {
    color: inherit;
    text-decoration: none;
}

/*#endregion*/