#Main {
    position: absolute;
    height: calc(100vh - 80px);
    overflow-x: hidden;
}

/*#region Homepage首页*/
#Main #Homepage {
    height: calc(100vh - 80px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

/*#region Left左*/
#Main #Left {
    width: 500px;
    height: 100%;
    background-color: #fff;
}

/*#endregion*/

/*#region Center中*/
#Main #Center {
    flex: 1;
    width: 700px;
    height: 100%;
}

/*#endregion*/

/*#region Right右*/
#Main #Right {
    width: 300px;
    height: 100%;
    background-color: #fff;
}

/*#endregion*/

/*#region 头像后的背景*/
#Main .Wallpaper {
    position: absolute;
    width: 100%;
    height: 250px;
}

/*#endregion 头像后的背景*/

/*#region 个人简介Introduction*/
#Left .Introduction {
    width: 480px;
    height: 280px;
    margin: 10px;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

#Left .Avatar {
    width: 100%;
    text-align: center;
}

#Left .Quote {
    width: 100%;
    height: 100px;
    text-align: center;
}

#Left .technologyIcon {
    width: 100%;
    text-align: center;
}

#Left .EditOutlined {
    display: none;
    width: 50px;
    height: 50px;
}

/*#endregion 个人简介Introduction*/

/*#region 生活区域LifeBox*/
#Left .LifeBox {
    margin: 10px;
    height: calc(100vh - 400px);
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px;
}

/*#endregion*/
/*#endregion*/

