.ArticalMarkDown h1::before {
    content: "🌸";
}

.vditor h1::before {
    content: "🌸";
}



.ArticalMarkDown li::marker {
    font-size: 1.5em;
    content: "🌼";
}

.vditor li::marker {
    font-size: 1.5em;
    content: "🌼";
}
.vditor li>p {
 margin-left: 25px;
}


.ArticalMarkDown blockquote {
    border: 3px dashed #9B59B6;
    border-radius: 8px;
    background-color: #D7BDE2;
    padding: 0 16px;
}


.ArticalMarkDown h1,
.ArticalMarkDown h2,
.ArticalMarkDown h3,
.ArticalMarkDown h4,
.ArticalMarkDown h5,
.ArticalMarkDown h6 {
  padding-top: 60px;
}

.vditor blockquote {
    border: 3px dashed #9B59B6;
    border-radius: 8px;
    background-color: #D7BDE2;
    padding: 0 16px;
}