#Main #Settingspage {
    width: 80%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*#region 技能图标设置*/
#Settingspage .SkllIconBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

#Settingspage .SkllIcons {
    display: inline-block;
    vertical-align: middle;
}

#Settingspage .SkllIconButton{
    height: 100%;
    display: flex;
    align-items: center;
}
/*#endregion*/