#Main #Settingspage {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
}

#Settingspage .SettingsContent {
    /* width:calc(100vw - 300px);
    height: calc(100vh - 60px); */
    width: 100%;
    margin: 10px;
    min-width: 800px;
    overflow: hidden;
    position: relative;
}



/* #region 侧边栏 */
#Settingspage .SiderBar {
    width: 300px;
    height: calc(100vh - 60px);
}

#Settingspage .SidebarLink {
    width: 260px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    padding-left: 20px;
    line-height: 40px;
}

#Settingspage .SidebarLink:hover {
    background: #1677ff;
}

/* #endregion */





/*#region 首页*/
/*#region 个人简介模块*/

/*#region 头像设置*/
#IntroductionConfig .UploadAvatar {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#IntroductionConfig .UploadBox:hover {
    cursor: pointer;
}
/*#endregion*/

/*#region 格言设置*/
#IntroductionConfig .MaximInput {
    width: 100%;
}
/*#endregion*/

/*#region 技能图标设置*/
#IntroductionConfig .SkllIconBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

#IntroductionConfig .SkllIcons {
    display: inline-block;
    vertical-align: middle;
}

#IntroductionConfig .SkllIconButton {
    height: 100%;
    display: flex;
    align-items: center;
}
/*#endregion*/


#IntroductionConfig{
    /* width: 380px; */
    /* height: 280px; */
    background-color: #fff;
    padding: 10px;
}

/*#endregion*/

/*#region 标签模块*/
#MarkConfig{
    /* width: 580px; */
    /* height: 480px; */
    background-color: #fff;
    padding: 10px;
}
.MarkList{
    /* border: 3px dashed #9B59B6; */
    /* height: 280px; */
    flex: 1;
    border-radius: 10px;
    padding: 10px;
}
/*#endregion*/

.HomeConfig{
    display: flex;
    flex-direction: column; 
    height: 100%;
}
/*#region 分类模块*/

/*#endregion*/

/*#endregion*/





/*#region 文章*/


/*#endregion*/





/*#region 建站历史*/


/*#endregion*/


























