#Main #Settingspage {
    height: calc(100vh - 80px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

#Settingspage .SettingsContent {
    width: 1200px;
    height: calc(100vh - 80px);
}



/* #region 侧边栏 */
#Settingspage .SiderBar {
    width: 300px;
    height: calc(100vh - 80px);
}

#Settingspage .SidebarLink {
    width: 260px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    padding-left: 20px;
    line-height: 40px;
}

#Settingspage .SidebarLink:hover {
    background: #1677ff;
}

/* #endregion */



/*#region 主题*/
/*#region 头像设置*/
#Settingspage .UploadAvatar {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#Settingspage .UploadBox:hover {
    cursor: pointer;
}
/*#endregion*/

/*#region 格言设置*/
#Settingspage .MaximInput {
    width: 100%;
}

/*#endregion*/

/*#region 技能图标设置*/
#Settingspage .SkllIconBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

#Settingspage .SkllIcons {
    display: inline-block;
    vertical-align: middle;
}

#Settingspage .SkllIconButton {
    height: 100%;
    display: flex;
    align-items: center;
}
/*#endregion*/
/*#endregion*/



/*#region 文章*/



/*#endregion*/





























