@font-face {
    font-family: 'beautiful';  /* 填写你的字体名 */
    src: url('./ttf/和风书道昭和勘亭流-闪\(GEETYPE-KanteiryuGBT-Flash\).ttf') format('truetype');
    /* 更新URL为你的实际ttf文件的相对路径 */
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'feilongti';  /* 填写你的字体名 */
    src: url('./ttf/和风书道昭和飞龙体-闪\(GEETYPE-FeilongGBT-Flash\).ttf') format('truetype');
    /* 更新URL为你的实际ttf文件的相对路径 */
    font-weight: normal;
    font-style: normal;
  }