.HomeSettingPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    .HomeSettingBox1{
        width: calc(100%/3);
        height: calc(100%/2);
    }
    .HomeSettingBox2{
        width: calc(100%/3);
        height: calc(100%/2);
    }








    // .box1,
    // .box2,
    // .box3,
    // .box4,
    // .box5,
    // .box6{
    //   width: calc(100%/3); // width of the boxes
    //   height: calc(100%/2); // height of the boxes
    //   background-color: aqua;
    //   display: inline-block;
    //   &:hover {
    //     cursor: grab;
    //   }
    // }
}
