#CoverOne {
    width: 100%;
    height: 100%;
    background-image: url("../../../../Static/Image/16sucai_p578d030_097.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "a b";



    .MiddleBox1 {
        grid-area: a;
        background-color: rgb(111, 56, 38);
    }

    .MiddleBox2 {
        grid-area: b;
        background-color: rgb(131, 96, 84, 0.4);
        position: relative;

        .MiddleBox7 {
            position: absolute;
            top: 10%;
            width: 70%;
            height: 80%;
            background-color: rgba(255, 255, 255, 0.4);
            position: relative;

            .CoverText {
                position: absolute;
                width: 60%;
                right: 10%;
                height: 100%;
                /* 设置height为100% */
                display: flex;
                /* 使用flex布局 */
                align-items: center;
                /* 垂直居中 */
                justify-content: center;

                /* 如果你还希望文本水平居中的话就加上这行 */
                .MiddleBox8 {
                    position: absolute;
                    width: 50%;
                    height: 60%;
                    right: -40%;
                    top: -10%;
                    background-image: url("../../../../Static/Image/4.webp");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 50% 50%;
                }
            }
        }
    }

    .CoverCoverOne {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
            "d e f";

        .MiddleBox3 {
            grid-area: d;
        }

        .MiddleBox4 {
            grid-area: e;
            position: relative;

            .MiddleBox6 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
                height: 60%;
                background-image: url("../../../../Static/Image/1.webp");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
            }
        }

        .MiddleBox5 {
            grid-area: f;
            position: relative;
         
        }
    }

}